
{% extends 'main.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/main.css' %}">
{% block content %}


<div class="home-container">

    <div>
        {% include 'myApp/topics_component.html'%}
    </div>

    <div class="main-content">
        <div class="main-content-title">
        <div class="rooms-count">
        <h5>{{room_count}} rooms avalaible</h5>
        </div>
        <a href="{% url 'create-room'%}" class="btn">Create Room</a>
        </div>
        <div class="rooms-list">
           {% include 'myApp/feed_component.html' %}
        </div>
    </div>

    <div class="activities-container">
       {% include 'myApp/activity_component.html' %}
    </div>
    
</div>

{% endblock content %}
